@import url("admin.css");



.card {
  width: 95%;
  position: relative;
  margin-left: 4rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.header{
  margin-bottom: 2rem;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;

  margin-top: 6rem;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  padding: 2px 24px;

  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #E2E8F0;
  border-radius: 6px;

  margin-bottom: 4px;
}

.section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.section p {
  margin: 5px 0;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section ul li {
  margin: 5px 0;
}