@import url("../CSS/dashboard.css");

table tbody>tr td button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

table tfoot>tr td button+button {
  margin-right: 0;
}

.color-blue {
  color: #2563EB;
}

.color-red {
  color: #ef4444;
}