@import url("../CSS/dashboard.css");


.bannerWrapper {

  border-radius: 12px;
  background-color: #60A5FA;
  padding: 20px 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  gap: 10px;
}


.headerBanner h1 {
  margin-bottom: 12px;

  font-family: var(--ff-second);
  font-size: 3rem;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
}

.headerBanner p {
  width: auto;
  font-size: 1.60rem;
  line-height: auto;
  color: #334155;
}

.bannerWrapper .imageBanner {
  width: 210px;
  height: 123px;
}

.min_container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.min_container .container_agenda {
  width: 50%;
  height: auto;
  margin-top: .1rem;
  margin-left: 2.5rem;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  padding: 1.5rem;
}


.container_agenda h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #1E293B;
  margin-bottom: 16px;
}

.agendamentoItems {
  display: flex;
  flex-direction: column;
  min-height: 75vh;

  position: relative;
}

.agendamento-item {
  width: 100%;
  height: auto;

  display: flex;

  border: 1px solid #E2E8F0;
  border-left: 0;
  border-radius: 4px;

}

.agendamento-item>.barra {
  border-left: 6px solid maroon;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.agendamento-item .content {
  width: 100%;
  position: relative;
  padding-block: 12px;

  padding-inline-start: 24px;
  padding-inline-end: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.agendamento-item .content .data {
  margin-bottom: 4px;
  color: #334155;
  font-size: 13px;
}

.btn-print {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  outline: none;
  background: none;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 20px;
  transition: all .5s;
}

.btn-print:hover {
  opacity: 0.5;
}

.btn-remarcar {
  align-self: flex-end;
}

.agendamento-item .content h4 {
  color: #334155;
  font-size: 16px;
  font-weight: 600;
}

.agendamento-item .content>.infoWrapper {

  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 4px;
  font-size: 1rem;
}

.agendamento-item .content .infoWrapper>span {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: #E2E8F0 1px solid;
  padding: 6px 10px;
}

.agendamento-item .content .infoWrapper span>.icon {
  font-size: 14px;
}

.container_agenda footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.container_agenda footer span {
  display: flex;
  color: #334155;
  cursor: pointer;
}

.container_agenda footer .icon {
  font-size: 24px;
}

.section_consultas {
  width: 64rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

.consultas_etapas {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1.5rem;
  align-items: start;
}

.etapas_contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.especialistasContainer {
  position: relative;
  width: 100%;
  min-height: 24.1rem;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  padding: 1.5rem;
  padding: 20px;
}

.especialistasContainer h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #1E293B;
}

.especialistaWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  color: #1E293B;
}

.especialistaWrapper .especialistaItem {
  width: auto;
  display: flex;
  align-items: center;
  color: #1E293B;
  justify-content: space-around;
}

.especialistaWrapper .especialistaItem img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  margin-left: 12px;
  margin-right: 20px;
}

.especialistaWrapper .especialistaItem .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-right: 125px;
}

.especialistaWrapper .especialistaItem strong {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.especialistaWrapper .especialistaItem span {
  font-size: 14px;
  display: flex;
}

.especialistaWrapper .especialistaItem .icon {
  font-size: 18px;

}

.especialistaWrapper .especialistaItem .footer {
  margin-right: 3rem;
  border: 1px solid #E2E8F0;
  color: #1E293B;
  padding: 6px 10px;
  border-radius: 4px;
  justify-self: flex-end;

  display: flex;
  align-items: center;
  gap: 6px;
}


/* media queries */

@media (max-width:959px) {
  .navigation {
    width: -300px;
  }

  .navigation .active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .min_container {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
  }

  .section_consultas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
  }

  .especialistasContainer {
    margin-left: 2.5rem;
  }

  .min_container .container_agenda {
    width: auto;
    height: auto;
  }



  .agendamentoItems {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    position: relative;
  }

  .etapas_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:768px) and (max-width:890px) {
  .especialistaWrapper .especialistaItem {
    width: 100%;
    display: flex;
    align-items: center;
    color: #1E293B;
    justify-content: space-evenly;
  }

  .especialistaWrapper .especialistaItem strong {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .especialistaWrapper .especialistaItem span {
    font-size: 1.5rem;
    display: flex;
  }

  .especialistaWrapper .especialistaItem .icon {
    font-size: 2rem;
  }

  .especialistaWrapper .especialistaItem .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-right: 3rem;
  }
}

@media (min-width:300px) and (max-width:767px) {
  .navigation {
    width: -300px;
    height: 100%;
  }


  .navigation .active {
    width: 300px;
    left: 0;
    height: 100%;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .min_container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .navigation ul li:nth-child(6) {}

  .section_consultas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;

  }

  .especialistaWrapper .especialistaItem strong {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .especialistaWrapper .especialistaItem span {
    font-size: 1rem;
    display: flex;
  }

  .especialistaWrapper .especialistaItem .icon {
    font-size: 1rem;
  }

  .especialistasContainer h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .especialistaWrapper .especialistaItem .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-right: .5rem;
  }

  .container_agenda h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }


  .consultas_etapas h2 {
    font-size: 1.3rem;
    font-weight: 600;
  }
}