@import url('../CSS/global-style.css');

/* utilitários */

body {
  width: 100%;
  height: 100vh;
  font-size: var(--fs-body);
  color: var(--clr-primary-400);
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .7rem;
  background: #fffefe;
  position: fixed;
  margin-bottom: 3rem;
  z-index: 1000;
}

.logo_codilac {
  width: 10rem;
  height: 5rem;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin-left: 8rem;
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--clr-bluedarck);
  font-weight: var(--fw-500);
  letter-spacing: 1px;
}

.nav-bar ul li a:hover {
  cursor: pointer;
  color: var(--clr-bluedarck);
}

.transicao::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  transition: .5s;
  background: var(--clr-bluedarck);

}

.transicao:hover:after {
  width: 100%;
  transition: .5s;

}

.pagina_principal_botao_login {
  width: 10rem;
  padding: .60em .7em;
  font-size: 1.1rem;
  background: var(--clr-blueliht);
  color: #fff;
  border-radius: .4rem;
  border: none;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1.125em 1em -1em var(--clr-blueliht);
  transition: .4s;
  text-align: center;
  text-decoration: none;
}

.pagina_principal_botao_login:hover {
  transform: scale(1.1);
}

.botoesDaPagPrincipal{
  display: flex;
  flex-direction: row;
  padding: .4rem;
  gap: 1rem;
}

.botaoDaPagPrincipal{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16rem;
}

.button-access {
  border: none;
  width: 12rem;
  padding: .60em .7em;
  font-size: 1.1rem;
  background: var(--clr-blueliht);
  color: #fff;
  border-radius: .4rem;
  border: none;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1.125em 1em -1em var(--clr-blueliht);
  transition: .4s;
  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.button-access:hover {
  transform: scale(1.1);
}

.button-access>.user-icon {
  width: 30px;
}

.icon_button:hover{
  cursor: pointer;
}

/*Imagem principal da pagina*/
.main-article {
  width: 100%;
  height: 80vh;
  background: url(../img/arseny-togulev\ -\ unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 4rem 4rem 4rem;
}

.main-article h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--clr-primary-400);
}

.main-article span {
  color: var(--clr-blueliht);
}

.main-article p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-primary-400);
  margin-bottom: 10px;
}

/* sessão sobre  */
.sectionSobre_main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 4rem;
}

.sectionSobre_main .sectionSobre_content h2 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: hsl(216, 100%, 50%);
  text-transform: capitalize;
  padding: 3rem 0;
}

.mainContainerImg {
  padding: 4rem 0;
}


.sectionSobre_content {
  width: 60%;
  font-size: 1.4rem;
  color: var(--clr-primary-400);
  font-weight: 500;
  text-align: justify;
}

/* area de nossas instalações */
.section_instalacoes {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #eee;
  flex-direction: column;
}

.containerAcordion{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerAcordion .acordion{
  margin: 0;
  padding: 0;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 2000ms cubic-bezier(0.075,0.82,0.165,1);
}

.acordion:hover{
  flex-basis: 65vw;
}

.section_instalacoes h2 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  letter-spacing: .5px;
  color: hsl(216, 100%, 50%);
}

/* Area de conteudo_div_saibamais do codilac */
#saibamais {
  width: 100%;
  background: var(--clr-blue);
  padding-block: 3rem;
  color: #fff;
}

.main-div {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

#saibamais h2 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 1rem;
  padding-top: 2rem;
}

#saibamais p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1rem;
}

#saibamais .conteudo_section_saibamais p {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px
}

.conteudo_div_saibamais {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  margin-top: 2rem;
  justify-content: center;
}

/* cards de nossos serviços */
#sectionServicos {
  width: 100%;
  padding-block: 4rem;
  background: #eee;
}

#sectionServicos h2 {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--clr-bluedarck);
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.main-services {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
}

/* * Remove all animations, transitions and smooth scroll for people that prefer not to see them  */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-services {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 35px;
}

.wrapper {
  position: relative;
  max-width: 1100px;
  width: 100%;
}

.wrapper .carrossel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel.no-transitio {
  scroll-behavior: auto;
}

.wrapper .dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.wrapper .dragging .card {
  cursor: grab;
  user-select: none;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -60px;
}

.wrapper i:last-child {
  right: -22px;
}

.carrossel .card {
  scroll-snap-align: start;
  list-style: none;
}

/* resposividade nos cardes  */
@media screen and (max-width:900px) {
  .wrapper .carrossel {

    grid-auto-columns: calc((100% / 2) - 9px);

  }
}

@media screen and (max-width:600px) {
  .wrapper .carrossel {
    grid-auto-columns: 100%;

  }
}

.imgem-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.imgem-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-blue);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background: var(--clr-blue);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background: #fff;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  text-align: center;
}

.btn {
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 8px 16px;
  background: var(--clr-blue);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none;
}

.btn:hover {
  background: var(--clr-blueliht);
}

.card {
  width: 320px;
  border-radius: 25px;
  background: #fff;
}

.card-imagem {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card-imagem .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--clr-blue);
}

/* Nossas redes sociais */

.redes_sociais {
  width: 100%;
  height: 30rem;
  background: #fff;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes_sociais h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--clr-blue);
  letter-spacing: 1px;
}

.redes_sociais .nossas_redes {
  width: 100%;
  padding: 2rem;
  margin: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.redes_sociais .nossas_redes .midias {
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: .4s;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23);
}

.midias:hover {
  transform: scale(1.3);
}


/* area de roda-pé */
.footer {
  width: 100%;
  height: 90vh;
  background: var(--clr-primary-400);
  color: hsl(0 0% 100%);
  padding-block: 3rem;
}

.footerMain {
  --max-width: 100%;
  --padding: .5rem;
  height: auto;
  width: min(var(--max-width), 100% - (var(--padding)*2));
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerMain h1 {
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--clr-blueliht);
  text-transform: uppercase;
}

.footerMain h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--clr-blueliht);
  text-transform: uppercase;
}

.footerMain .footerNav li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 1rem;
}

.footerMain .footerNav li a {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  color: #fff;
}

.footerMain .redesSociais li {
  list-style-type: none;
}

.footerMain .redesSociais li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-left: 1rem;
}