@import url("dashboard.css");


/* .navigation ul li:nth-child(3),
.navigation ul li:nth-child(4),
.navigation ul li:nth-child(5) {

  display: none;
} */



.navigation ul li:nth-child(2) {
  margin-top: 0rem;
}

.navigation ul li:nth-child(5) {
  margin-top: 2rem;
}