@import url("../CSS/dashboard.css");

.information_card {
  width: 95%;
  height: auto;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.informations_cards {
  position: relative;
  width: 100%;
  padding: 8px 24px;

  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
}

.title_icon {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #334155;
}

.title_icon h3 {
  font-weight: 500;
  font-size: 16px;

}

.title_icon .stastic {
  font-size: 32px;
}

.informations_cards>span {
  position: absolute;
  right: 18px;
  top: 30%;
  font-size: 32px;
  font-weight: 300;
  color: #334155;
}

.pacientesWrapper {
  height: auto;
  margin-top: 30px;
}

.pacientesWrapper>.header-table{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 36rem;
}

.pacientesWrapper>.header-table h2 {
  font-size: 20px;
  font-weight: 600;
}

.pacientesWrapper>table {
  width: 100%;
  position: relative;
  
}

.pacientesWrapper table>thead {
  border-radius: 8px;
  border: none;

  margin-bottom: 50px;

}

.pacientesWrapper table thead>tr {
  justify-content: space-between;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #334155;
}

.pacientesWrapper table tbody>tr td {
  font-size: 16px;
}

.pacientesWrapper table tbody>tr td button {
  padding: 4px 10px;
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid #E2E8F0;
  border-radius: 6px;

  color: #fff;
}