*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/ariete.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}

.img-box{
    background-color: white;
   width: 55%;
   display: flex;
   align-items: center;
   padding: 20px;
   border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%; 
}

.form-box{
    background-color: rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
   
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: black;
}

.form-box form{
    margin: 22px 0;
}
form .input-group{
    margin-bottom:16px;
}
form .input-group label{
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: white;
    box-shadow:0px 10px 40px  hsl(216, 100%, 50%) ;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: hsl(216, 100%, 50%);
}
form .input-group button:hover{
    background-color: white;
    color: black;
    transition: 300;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background:hsl(216, 100%, 50%);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;  
}

form .input-group button:hover{
    background:hsl(216, 100%, 50%);
    color: #fff;
}

@media (max-width:930px){
    .img-box{
        display: none;
    }
    .box{
        width: 100%;
        border-radius: 20px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px){
    .w50{
        width: 100%;
        padding: 0;
    }

}
    







    

