@import url('./global-style.css');

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.container{
  position: relative;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_content{
  position: absolute;
  width: 300px;
  height: 220px;
  background: transparent;
  top: 130px;
  border-radius: 4px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0,0.212);
  padding: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background: rgba(34, 33, 33, 0.3);
}

.img_content p{
  margin-top: 1rem;
}

.content{
  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h2{
  margin-right: 14rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
}

.form_content{
  position: relative;
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
}

.form_content input{
  position: relative;
  width: 18rem;
  height:2.5rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 16px;
  outline: none;
  border: 1px solid hsl(216, 100%, 50%);
  padding: 12px;
  border-radius: 4px;
}

.form_content input:focus{
  border-color: hsl(216, 100%, 40%);
}

.form_content input::placeholder{
  font-weight: 300;
  font-style: normal;
}

.form_content label{
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.form_content p a{
  text-decoration: none;
  margin-left: 7.4rem;
  font-size: 1rem;
}

.form_content a{
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: hsl(216, 100%, 50%);

}

 #botao{
  border: none;
  color:#fff;
  cursor: pointer;
  margin-top: 1rem;
  background: hsl(216, 100%, 50%);
  text-align: center;
}

#botao:hover{
  background: hsl(216, 100%, 60%);
}

