*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --clr-blueliht:hsl(216, 100%, 60%);
  --clr-blue:hsl(216, 100%, 50%);
  --clr-bluedarck:hsl(216, 100%, 40%);
  --clr-primary-400:hsl(228,39%,23%);
  --clr-grey:#bebebe;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

.container{
  position: relative;
  width: 100%;
}

.navigation{
  position: fixed;
  height: 100%;
  width: 300px;
  background: #fff;
  border-left: 10px solid #fff;
  transition: 0.5s;
  overflow: hidden;
  border-right: 2px solid #eee;
}

.navigation.active{
  width: 80px;
}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
  background-color: var(--clr-bluedarck);
}
.navigation ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li:nth-child(7){
  margin-top: 80px;
}

.navigation ul li a{
  position: relative;
  display: block;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--clr-bluedarck);
  font-weight: 500;
  font-size: 1.2rem;
}

.navigation ul li a #mainTitle{
  color: var(--clr-bluedarck);
  font-weight: 600;
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
  color: #fff;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}


.navigation ul li a .icon ion-icon{
  font-size: 1.75rem;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li a .title:hover,
.navigation ul li a .title.hovered{
  color: #fff;
}

/* .navigation ul li:hover a::before{
  content: '';
  position: absolute;
  top: -50px;
  right:0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--clr-blueliht);
  pointer-events: none;
}

.navigation ul li:hover a::after{
  content: '';
  position: absolute;
  bottom: -50px;
  right:0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--clr-blueliht);
  pointer-events: none;
} */

.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #fff;
  transition: .5s;
}

.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--clr-bluedarck);
}

.main h1{
  margin-left: 3rem;
}

.main h1 span{
  color: var(--clr-blueliht);
}

.cards_banner{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cards_banner .banners{
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 10px;
  border: 1px solid var(--clr-blueliht);
  border-radius: 10px;
}

#oneimg{
  background: url(../img/undraw_medicine_b-1-ol.svg) no-repeat;
  background-size:cover;
}

#twoimg{
  background: url(../img/undraw_high_five_re_jy71.svg) no-repeat;
  background-size:cover;
}

.btn{
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: var(--clr-bluedarck);
  color: #fff;
  font-size: 16px;
}

.btn:hover{
  background: var(--clr-blue);
}

.other{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.other .bannerFirst{
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border: 1px solid var(--clr-blueliht);
  border-radius: 10px;
  background: var(--clr-blueliht);
  color: white;
}

.other .bannerFirst #title{
 margin-right: 6rem;
}

.other .bannerFirst .firstOne{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

.firstOne button{
  margin-top: 1rem;
}

.other .bannerSecond{
  width: 43%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.other .bannerSecond .bannerOne{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
  background: var(--clr-blueliht);
  color: #fff;
}

.btnBannerOne{
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.other .bannerTwo{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  background: #eee;
  margin-top: 3rem;
}

.main_box{
  width: 95%;
  position: absolute;
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 20px;
  display: grid;
  min-height: 500px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.main_box .mainwrap h1{
  font-weight: 600;
  color: var(--clr-blueliht);
  text-align:start;
}

.main_box table{
  width: 100%;
  border-collapse:collapse;
  margin-top: 10px;
}

.main_box table thead td{
  font-weight: 600;

}

.main_box .btnAgendar{
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: var(--clr-blue);
  color: #fff;
  font-size: 16px;
}
.main_box table tr{
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main_box table tr:last-child{
  border-bottom: none;
}

.main_box table tbody tr:hover{
  background: #eee;
  color: #000;
  border: 1px solid #eee;
  
}

.main_box table tr td{
  padding: 10px;
}

.main_box table tr td:last-child{
  text-align: end;
}

.box{
  position: absolute;
  margin-top: 55%;
  margin-left:1rem;
  width: 95%;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 20px;
  display: grid;
  min-height: 200px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.boxEspecialista{
  position: relative;
  width: 40%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  background: #eee;
  align-items: center;
}

.box img{
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  overflow: hidden;
}

.text{
  margin-left: 0.5rem;
}

.text a{
  text-decoration: none;
  color: var(--clr-blue);
}