@import url("dashboard.css");


.navigation ul li:nth-child(3),
.navigation ul li:nth-child(4),
.navigation ul li:nth-child(5) {

  display: none;
}



.navigation ul li:nth-child(6) {
  margin-top: 0rem;
}

.navigation ul li:nth-child(7) {
  margin-top: 4rem;
}