@import url(/CSS/global-style.css);

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-services {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 35px;
}

.wrapper {
  position: relative;
  max-width: 1100px;
  width: 100%;
}

.wrapper .carrossel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel.no-transitio {
  scroll-behavior: auto;
}

.wrapper .dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.wrapper .dragging .card {
  cursor: grab;
  user-select: none;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -60px;
}

.wrapper i:last-child {
  right: -22px;
}

.carrossel .card {
  scroll-snap-align: start;
  list-style: none;
}

/* resposividade nos cardes  */
@media screen and (max-width:900px) {
  .wrapper .carrossel {

    grid-auto-columns: calc((100% / 2) - 9px);

  }
}

@media screen and (max-width:600px) {
  .wrapper .carrossel {
    grid-auto-columns: 100%;

  }
}

.imgem-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.imgem-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-blue);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background: var(--clr-blue);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background: #fff;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  text-align: center;
}

.btn {
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 8px 16px;
  background: var(--clr-blue);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none;
}

.btn:hover {
  background: var(--clr-blueliht);
}

.card {
  width: 320px;
  border-radius: 25px;
  background: #fff;
}

.card-imagem {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card-imagem .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--clr-blue);
}

/* utilitários */

body {
  width: 100%;
  height: 100vh;
  font-size: var(--fs-body);
  color: var(--clr-primary-400);
}

.nav-bar {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .7rem;
  background: #fffefe;
}

.nav-bar h1 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--clr-bluedarck);
  text-transform: uppercase;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--clr-bluedarck);
  font-weight: var(--fw-500);
  letter-spacing: 1px;
}

.nav-bar ul li a:hover {
  cursor: pointer;
  color: var(--clr-bluedarck);
}

.transicao::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  transition: .5s;
  background: var(--clr-bluedarck);

}

.transicao:hover:after {
  width: 100%;
  transition: .5s;

}

.botao {
  width: 8rem;
  padding: .60em .7em;
  font-size: 1.1rem;
  background: var(--clr-blueliht);
  color: #fff;
  border-radius: .4rem;
  border: none;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0 1.125em 1em -1em var(--clr-blueliht);
  transition: .4s;
  text-align: center;
  text-decoration: none;
}

.botao:hover {
  transform: scale(1.1);
}

/*Imagem principal*/
.main-article {
  width: 100%;
  height: 50vh;
  background: url(../img/arseny-togulev\ -\ unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}

.main-article h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--clr-primary-400);
}

.main-article span {
  color: var(--clr-blueliht);
}

.main-article p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-primary-400);
  margin-bottom: 10px;
}

/* sessão sobre  */
.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 4rem;
}

.container .main_container h2 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: hsl(216, 100%, 50%);
  text-transform: capitalize;
}


.container .main_container {
  width: 60%;
  font-size: 1.4rem;
  color: var(--clr-primary-400);
  font-weight: 500;
  text-align: justify;
}

/* area de nossas instalações */
.card-img-local {
  width: 100%;
  height: auto;
  padding: 1.75rem;
  display: flex;
  background: #eee;
  flex-direction: column;
}

.body-img-local {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1rem;
}

.card-img-local .main-img-local {
  height: auto;
  display: flex;
}

.card-img-local h2 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  letter-spacing: .5px;
  color: hsl(216, 100%, 50%);
}

.main-img-local .img-local {
  width: 300px;
  height: 18rem;
  background: #fff;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px hsl(216, 100%, 50%);
}

.img-local img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#img_recep {
  height: 200px;
}

.img-local .description {
  width: 200px;
  padding: .5rem;
  background: hsl(216, 100%, 50%);
  margin: 24px 42px;
  border: 1px solid hsl(216, 100%, 50%);
  box-shadow: 1px 4px 4px hsl(216, 100%, 60%);
  border-radius: 4px;
}

.img-local .description h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

/* Area de numeros do codilac */
#saibamais {
  width: 100%;
  background: var(--clr-blue);
  padding-block: 2rem;
  color: #fff;
}

.main-div {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

#saibamais h2 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 1rem;
}

#saibamais p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1rem;
}

#saibamais .n p {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px
}

.numeros {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  margin-top: 2rem;
  justify-content: center;
}

/* cards de nossos serviços */
#sectionServicos {
  width: 100%;
  padding-block: 3rem;
  background: #eee;
}

#sectionServicos h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--clr-bluedarck);
  text-align: center;
  margin-bottom: 1rem;
}

.main-services {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
}


/* area de roda-pé */
.footer {
  width: 100%;
  height: 50vh;
  background: var(--clr-primary-400);
  color: hsl(0 0% 100%);
  padding-block: 3rem;
}

.footerMain {
  --max-width: 100%;
  --padding: .5rem;
  height: auto;
  width: min(var(--max-width), 100% - (var(--padding)*2));
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerMain h1 {
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--clr-blueliht);
  text-transform: uppercase;
}

.footerMain h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--clr-blueliht);
  text-transform: uppercase;
}

.footerMain .footerNav li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 1rem;
}

.footerMain .footerNav li a {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  color: #fff;
}

.footerMain .redesSociais li {
  list-style-type: none;
}

.footerMain .redesSociais li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-left: 1rem;
}