@import url("../CSS/dashboard.css");


.buttons-action {
  display: flex;
  gap: 0.5rem;
}

.button-status,
.button-print {
  border: 1px solid #E2E8F0;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}

.button-status:hover,
.button-print:hover {
  opacity: 0.7;
}