@import url("../CSS/global-style.css");

.divPrincipalDoFormLogin{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.container_form_login{
  width: 60%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form_login_img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_login_img img{
  position: relative;
  width: 400px;
  height: 50%;
  border-radius: 4px;
}

.img_content{
  position: absolute;
  width: 300px;
  height: 220px;
  background: transparent;
  top: 130px;
  border-radius: 4px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0,0.212);
  padding: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background: rgba(34, 33, 33, 0.3);
}

.img_content p{
  margin-top: 1rem;
}

.form_login_content{
  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_login_content h2{
  margin-right: 14rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5rem;
  color:var(--clr-blue);
}

.form_login_formulario{
  position: relative;
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
}

.form_login_formulario input{
  position: relative;
  width: 18rem;
  height:2.5rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 16px;
  outline: none;
  border: 1px solid var(--clr-blue);
  padding: 12px;
  border-radius: 4px;
}

.form_login_formulario input:focus{
  border-color: var(--clr-bluedarck);
}

.form_login_formulario input::placeholder{
  font-weight: 300;
  font-style: normal;
}

.form_login_formulario label{
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.form_login_formulario p a{
  text-decoration: none;
  margin-left: 7.3rem;
  font-size: 1rem;
}

.form_login_formulario a{
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--clr-blue);

}

 #form_login_botao{
  width: 18rem;
  border: none;
  color:#fff;
  cursor: pointer;
  margin: 1rem 0;
  background: var(--clr-blue);
  text-align: center;
  padding: .4rem;
  border-radius: 4px;
}

#form_login_botao:hover{
  background: var(--clr-blueliht);
}
