@import url('../CSS/dashboard.css');


/* Tela de agendamentos */

.main_box {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 4.5rem;
}

.main_box .cardWrapper {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 1rem;
<<<<<<< HEAD
=======
  border-radius: 4px;
  color: var(--clr-blue);
}

.content_box .submit_agendar{
  width: 6.5rem;
  height: 2.3rem;
  padding: .4rem;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: var(--clr-blue);
  cursor: pointer;
  margin-left: .75rem;
}

.date{
  width: 350px;
  border-radius: 10px;
  margin: 1rem 0;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.212);
}

.date header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}

.date .current_date{
  font-size: 1.45rem;
  font-weight: 500;
}

.date .icons span{
  width: 38px;
  height: 38px;
  margin: 0 1px;
  color: #878787;
  font-size: 1.9rem;
  text-align: center;
  border-radius: 50%;
  cursor:pointer;
  line-height: 38px;
}

.date .icons span:last-child{
  margin-right: -10px;
}

.calendario{
  padding: 20px;
}
.calendario ul{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendario .dias{
  margin-bottom: 20px;
}

.calendario .dias li{
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.calendario .semanas li{
  font-family: 500;
}

.calendario ul li{
  position: relative;
  width: calc(100% / 7);
}

.inativo {
  color: #aaa;
}

.activo{
  color: #fefefe;
}

.activo:hover{
  color: #fff;
}
.dias li:hover{
  color: #fff;
}
.calendario .dias li::before{
  position: absolute;
  content: " ";
  height: 40px;
  width: 40px;
  top: 50%;
  z-index: -1;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dias li:hover::before{
  background: var(--clr-blueliht);
  color: #fff;
}

.activo::before{
  background: var(--clr-blue);
}

/* Tela de agenda */
.cardAgenda{
  width: 20rem;
  min-height: 10rem;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardAgenda .result{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 10px 10px;
  border-radius: 10px 0px;
}

#one, #for{
  background: rgb(151, 240, 19);
}

#two{
  background: rgb(231, 231, 29);
}

#thre{
  background: rgb(231, 36, 36);
}

.cardAgenda section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
>>>>>>> 75ab454cbec86231d45a1c32ef87c610a3357a8b
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}


/* estilo do card de agendamentos */

.cardWrapper .agendamento-item {
  width: 32rem;
  height: 14rem;
  background: #fff;

  display: flex;

  border: 1px solid #fff;
  border-left: 0;
  border-radius: 4px;
}

.agendamento-item>.barra {
  border-left: 6px solid #60A5FA;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.agendamento-item .content {
  padding-block: 12px;

  padding-inline-start: 24px;
  padding-inline-end: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.agendamento-item .content .data {
  margin-bottom: 4px;
  color: #334155;
  font-size: 13px;
}

.agendamento-item .content h4 {
  color: #334155;
  font-size: 16px;
  font-weight: 600;
}

.button-ghost{
  background:hsl(216, 100%, 50%);
  color: #fff;
  border-radius: 4px;
}

.button-ghost:hover{
  background:#60A5FA;
}

@media (min-width:300px) and (max-width:767px) {
  .main_box{
    width: 100%;
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .main_box h2{
    margin-left: 3rem;
  }

  .main_box .cardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardWrapper .agendamento-item {
    width: auto;
    height: 14rem;
  }

}

@media (max-width:320px){
  .cardWrapper .agendamento-item .btn .button-ghost{
    width: auto;
    gap: 2px;
    padding: 2px 5px;
}
<<<<<<< HEAD
=======

.main_boxH table tr:last-child{
  border-bottom: none;
}

.main_boxH table tr td{
  padding: 16px;
}

.main_boxH table tbody tr:hover{
  background: #eee;
  color: #000;
  border: 1px solid #eee;
}

.main_boxH table tr td:nth-child(3){
  text-align: center;
>>>>>>> 75ab454cbec86231d45a1c32ef87c610a3357a8b
}