@import url("../CSS/dashboard.css");

.container_agendar_consulta {
  width: 95%;
  position: relative;
  margin-left: 4rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.container_agendar_consulta .content_h1 h1 {
  font-weight: 600;
  color: var(--clr-blueliht);
  text-align: start;
  padding-bottom: 1rem;
}

.container_agendar_consulta table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.container_agendar_consulta table thead td {
  font-weight: 600;

}

.container_agendar_consulta .btnAgendar {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: var(--clr-blue);
  color: #fff;
  font-size: 1.5rem;
}

.container_agendar_consulta table tr {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container_agendar_consulta table tr:last-child {
  border-bottom: none;
}

.container_agendar_consulta table tbody tr:hover {
  background: #eee;
  color: #000;
  border: 1px solid #eee;
}

.container_agendar_consulta table tr td {
  padding: 10px;
}

.container_agendar_consulta table tr td:last-child {
  text-align: end;
}

@media (max-width:425px){
  .container_agendar_consulta{
    grid-template-columns: 2fr;
  }
  .container_agendar_consulta table{
    width: auto;
    overflow-x: auto;
    border: 2px solid red;
  }

  .container_agendar_consulta .btnAgendar {
    width: auto;
    padding: 4px;
  
  }

  .container_agendar_consulta .input{

  }
}